<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.protokols">

    <application
        android:name=".data_base_package.AppDelegateBd"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Protokols">
        <activity android:name=".data_base_package.FreeForm.MainFreeForm" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".data_base_package.SilovoyTransformator.ViewSilovoyTrans" />
        <activity android:name=".data_base_package.FreeForm.ViewFreeForm" />
        <activity android:name=".ViewingProtokolsList" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".data_base_package.SilovoyTransformator.MainSilovoyTrans" android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>